[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
fontawesome-free = "==5.15.4"
gunicorn = "*"
django-heroku = "*"
dj-database-url = "*"
python-decouple = "*"

[dev-packages]

[requires]
python_version = "3.10"
