<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="sistem tabungan untuk mempermudah kamu dalam menyimpan uang mu. ">
    <meta name="keywords" content="Sistem Tabungan, Tabungan, Airell Zulkarnain, airell">
    <meta name="author" content="Airell Zulkarnain">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'login/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>SISTEM TABUNGAN</h1>
        <form action="{% url 'login:login' %}" method="post">
        {% csrf_token %}
            <input type="text" name="username" id="username" placeholder="username" class="text-box" autocomplete="off">
            <input type="password" name="password" id="password" placeholder="password" class="text-box" autocomplete="off">
            <div>
                <input type="submit" value="login" class="button">
                <a href="{% url 'login:registration' %}" class="button">register</a>
            </div>
        </form>
    </div>
    {% if error_message %} <script>alert("{{ error_message }}")</script> {% endif %}
</body>
</html>
