<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home Tabungan</title>
    {% load static %}
    <!-- <link rel="icon"href="{% static 'favicon.ico' %}"> -->
    <link rel="stylesheet" href="{% static 'tabungan/reset.css' %}">
    <link rel="stylesheet" href="{% static 'tabungan/style.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome_free/css/all.min.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <img src="" alt=" ">
            <h1>{{ user }}</h1>
            <div class="stuck"><i class="far fa-plus-square"></i></div><a href="{% url 'tabungan:add' user %}" class="navigation">Buat Baru</a>
            <div class="stuck stuck-2"><i class="fas fa-home"></i></div><a href="{% url 'tabungan:home' user %}" class="navigation stuck-2-text">Home Page</a>
            <a href="{% url 'login:logout' %}" class="logout">sign out <i class="fas fa-sign-out-alt"></i></a>
        </div>
    </nav>
    <section id="tabungan">
        <div class="container clearfix">
            <h1>Welcome, {{user}}</h1>
            {% load to_underscore %}
            {% load percent_of %}
            {% for tabungan in tabungan.saving_set.all %}
                <a href="{% url 'tabungan:tabungan' user tabungan.name|to_underscore %}">
                    <div class="content">
                        <h2>{{ tabungan.name }}</h2>
                        <p>created: <time>{{ tabungan.created_date }}</time></p>
                        <div class="progress-bar">
                            <div class="progress" style="width: {{ tabungan.target|percent_of:tabungan.transaction_set.all }}%;">
                                {% if tabungan.status == "sudah lunas." %}
                                    LUNAS
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </section>
    <footer>
        <p>&COPY; Copyright 2022 Airell Zulkarnain. All Right Reservered. </p>
    </footer>
    <script src="{% static 'tabungan/action.js' %}"></script>
</body>
</html>